* {
    text-align: center;
}

.grid-container {
    width: 960px;
    height: 960px;
    display: flex;
    border: 2px solid red;
    margin-top: 5px;
    flex-wrap: wrap;
}

#pixel {
    border: 1px solid rgb(233, 232, 232);
    box-sizing: border-box;
}

.highlight {
    background-color: blue;
}